<div class="backstretch">
  <div class="inner">
    <div class="panel">
      <div id="panel-content"></div>  
    </div>  
    <div class="sidebar">
      <div id="sidebar-content">
      <div id="title">kami boers</div>
        <div class="links">
          <div id='about'><a href="#" class='side'>about.</a></div>
          <div id='code'><a href="#" class='side'>code.</a></div>
          <div id='contact'><a href="#" class='side'>contact.</a></div>
        </div>
      </div>
    </div>
  </div>
</div>