a, a:hover, a:target {
  text-decoration: none;
}

.inner {
  font-family: 'Open Sans', sans-serif;
  height: 100%;
  width: 100%;
  z-index: 0;
  position: fixed; 
}

.content {
  float: left;
  height: 100%;
  width: 80%;
  z-index: 100000;
}

.panel-content {
  opacity: 1;
  z-index: 100001;
  font-size: 28px;
  overflow-y: scroll;
  height: 100%;
  width: 100%;
}

.panel {
  display: none;
  height: 100%;
  width: 100%;
  padding: 20px;
}

.sidebar {
  background-color: #EAEAEA;
  opacity: .75;
  z-index: 100;
  float: left;
  width: 15%;
  min-width: 150px;
  height: 100%;
}

#sidebar-content {
  line-height: 1.05;
  font-size: 34px;
  padding: 15px;
  text-align: right;
  z-index: 101;
}

a {
  color: #004d4d;
}

a:hover {
  color:  #002633;
}

.links {
  margin-top: 20px;
}

#title {
  font-size: 44px;
  font-weight: 600;
  line-height: .65;
}

/*
.backstretch {
  background: url(../images/earth.jpeg) no-repeat center center fixed; 
  background-color: #00977c;
  position: fixed; 
  overflow: hidden; 
  height: 100%; 
  width: 100%;
  z-index: -999999;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


*/